.echodo_history
token.json
credentials.json
credentials.json.*
.*.md
.ondir.was.here.touch
.git-privatize
.env
.gemini/logs.db
demos/sqlite-investigation/output/DEMO2.md
tmp/
.vecchiume
.DS_Store
# TODO remove me after workshop
#*.mp4

.gemini/
gha-creds-*.json
demos/mcp-video-creation-backup/
